<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h6 class="page-title">Dashboard</h6>
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item active">Welcome toTekskills Dashboard</li>
                        </ol>
                    </div>
                    
                </div>
            </div>
        </div> 
    </div>

    <!-- ==========================Ngx charts Start==================== -->
    <section class="mt-5" style="margin-top:100px">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div id="chart">
                        <apx-chart
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [dataLabels]="chartOptions.dataLabels"
                            [plotOptions]="chartOptions.plotOptions"
                            [yaxis]="chartOptions.yaxis"
                            [xaxis]="chartOptions.xaxis"
                        ></apx-chart>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================Ngx charts End==================== -->
    
</div>
